* {
    width: 100% auto;
    padding: 10px;
}

header,
nav,
footer {
    padding: 1em;
}

.flex2 {
    flex-basis: 100%;
    display: flex;
    flex-direction: row nowrap;
    margin: 1em;
}

.logo {
    border-radius: 5px;
    padding: 0;
}

.border {
    border: 1px solid brown;
    border-radius: 1em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

ol {
    list-style-type: none;
}

.mealBorder {
    border: 1px solid brown;
    margin: 2em;
}

.boldFont {
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style1 {
    padding: 0;
    border: none;
    border-top: medium solid #333;
    color: #333;
    text-align: center;
    width: 100%;
}

.upperCase,
#title,
.title {
    text-transform: uppercase;
    color: brown;
    font-weight: bold;
}

.inputForm {
    text-align: right;
    margin-right: 20%;
}

.inputFormReserve {
    text-align: right;
    margin-right: 10%;
}

.centerAlign {
    text-align: center;
}

#title {
    font-size: 2em;
    text-align: center;
}

#caption {
    font-size: 0.5em;
    text-transform: capitalize;
}

.capitalize {
    font-size: small;
    text-transform: capitalize;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.style2 {
    padding: 0;
    border: none;
    border-top: 2px solid rgb(145, 141, 141);
    color: #333;
    text-align: center;
}

.border {
    width: 80%;
}

.socialMedia>ul {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer>ul {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
}

.aboutPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
}

.listBlock {
    margin: 1em;
    display: flex;
}

.aboutPage>ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: lighter;
}

.padding {
    margin-left: 2em;
}

.meals {
    display: flex;
    flex-direction: row;
}

button {
    background-color: rgb(243, 220, 201);
}

button,
input {
    border-radius: 1em;
    margin: 1.2em;
}

@media only screen and (max-width: 700px) {
    .header,
    .aboutPage {
        display: block;
        text-align: center;
    }
    .homePage>nav>ul {
        display: block;
        text-align: center;
    }
    .socialMedia>ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    body {
        background-color: rgb(232, 243, 217);
    }
    .flex2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .inputForm {
        text-align: left;
    }
    .inputFormReserve {
        text-align: left;
        margin: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .inputFormReserve {
        text-align: left;
        margin: 4% 0 10% 0;
    }
}

@media only screen and (min-width: 701px) {
    body {
        background-color: rgb(245, 237, 227);
    }
}

a {
    color: rgb(23, 122, 23);
    font-weight: bolder;
}

a:hover {
    font-size: 1.3em;
}

a:active {
    text-decoration: underline red;
}