<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="componentStyle.css">
    <title>Meal-sharing</title>
</head>

<body>

    <div className="homePage">
        <header>
            <h1 id="title">
                meal-sharing:{" "}
                <span id="caption">
              An exclusive place where food is our emotion.
            </span>
            </h1>
            <img src="https://www.stephenconroy.com/images/GALLERYVIEW_575_MissSaigon_Hero_web.jpg" alt="FoodLove😋" width="1150px" height="500px" />
        </header>

        <nav>
            <ul>
                <li className="upperCase">
                    <a href="meal-sharing/about">about</a>
                </li>
                <li className="upperCase">
                    <a href="meal-sharing/meals">meals</a>
                </li>
                <li className="upperCase">
                    <a href="meal-sharing/reservations">reservations</a>
                </li>
                <li className="upperCase">
                    <a href="meal-sharing/reviews">reviews</a>
                </li>
            </ul>
        </nav>

        <section>
            <p>Meal-sharing is an application, where one can find the meals that are available to enjoy, find the reservations about the availability, can look into the experience of others through reviews, make reservations to that particular menu found
                interesting from the meals and also can write about their experience.</p>
        </section>

        <footer>
            <ul>
                <li>
                    <a href="https://facebook.com/meal-sharing_dj">
                        <img src="https://img.icons8.com/fluency/50/000000/facebook.png" alt="facebook!" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/meal-sharing_dj">
                        <img src="https://img.icons8.com/color/50/000000/twitter-squared.png" alt="twitter!" />
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/meal-sharing_dj">
                        <img src="https://img.icons8.com/fluency/50/000000/instagram-new.png" alt="instagram!" />
                    </a>
                </li>
                <li>
                    <a href="https://yahoo.com/meal-sharing_dj">
                        <img src="https://img.icons8.com/doodle/48/000000/yahoo--v1.png" alt="yahoo!" />
                    </a>
                </li>
                <li>
                    <a href="https://google.com/meal-sharing_dj">
                        <img src="https://img.icons8.com/fluency/48/000000/google-logo.png" alt="google!" />
                    </a>
                </li>
            </ul>
            <h5>@CopyRights.meal_sharing_dj</h5>
        </footer>
    </div>

</body>

</html>