@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    /*background-color: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);*/
}

body {
    margin: 0;
    font-size: 17px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2d3233;
}

@media only screen and (max-width: 460px) {}

@media only screen and (min-width: 461px) and (max-width: 960px) {}

@media only screen and (min-width: 961px) {
    .homePage {
        padding-left: 10%;
        padding-right: 10%;
    }
}